.lookinlabs-body-bg {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    156deg,
    #02181d 13.54%,
    #000312 36.46%,
    rgba(23, 1, 37, 1) 68.23%
  );
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 768px) {
  #nav-toggle {
    display: none;
  }
  #nav-menu {
    display: flex;
  }
}

#carousel::-webkit-scrollbar {
  display: none;
}

#carousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
  padding: 0 80px; /* Adjust this value to control the width of the fading effect */
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px; /* This should match the padding value above */
  height: 100%;
  pointer-events: none;
}

.carousel-container::before {
  z-index: 1;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.carousel-container::after {
  z-index: 1;
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
